body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom, #ffffff, #f9f5fe, #3c0e66);
    height: 370vh;
    font-family: "Helvetica";
}
img {
    width: 40px;
}
hr {
    max-width: 900px;
    margin: 0 auto;
}
button {
    border: none;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
}
button:active,
button:focus {
    border: none;
    outline: none;
}
.main {
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}
.main hr {
    opacity: 0.2;
    margin-left: 0;
    width: 37%;
}
.navigation {
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;
}
.navigation a {
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
.navigation a:hover {
    transition: all 0.5s ease;
    color: #8a2be2;
}
.navigation-top a {
    margin-left: 20px;
}
.navigation-bottom {
    display: flex;
}
.navigation-bottom a {
    margin-left: 15px;
    margin-top: 30px;
}
.search-input {
    font-size: 28px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid black;
    width: 450px;
    padding: 25px 5px 5px;
}
.search-input:focus {
    outline: 0;
}
.search-input::placeholder {
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    opacity: 0.5;
}
.cities {
    width: 465px;
    margin: 0 auto;
}
.cities-list {
    padding-left: 5px;
}
.cities-list-item {
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.cities-list-item-span {
    line-height: 50px;
}
.cities-list-item-span a {
    color: black;
    text-decoration: none;
}
.cities-list-item:hover {
    background: #f9f5fe;
    transition: all 0.5s ease;
}
.title {
    margin-bottom: 0;
    text-transform: uppercase;
    padding-top: 30px;
    font-family: "Verdana";
}
.forecast {
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}
.forecast hr {
    opacity: 0.2;
    margin-left: 0;
    width: 37%;
}
.forecast-day {
    list-style: none;
}
.forecast-day-with-clouds {
    display: flex;
}
.forecast-day-with-clouds img {
    height: 40px;
}
.forecast-day-with-clouds p {
    margin-left: 10px;
}
.forecast-flex {
    display: flex;
    justify-content: space-between;
}
.forecast-day-weather {
    font-family: "Helvetica";
    line-height: 32px;
}
.forecast-day-header {
    text-transform: uppercase;
    color: #8a2be2;
    font-weight: bold;
    line-height: 40px;
    font-size: 18px;
    margin-bottom: 10px;
}
.forecast-day-date {
    margin: 0;
    opacity: 0.5;
}
/*ANIMATIONS*/
/*  /search  */
.search-animation-appear,
.search-animation-enter {
    -webkit-transform: translateX(-800px);
    transform: translateX(-800px);
    z-index: 1;
}
.search-animation-appear.search-animation-appear-active,
.search-animation-enter.search-animation-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: 0.3s ease-in-out;
}
/*   /favorites  */
.fav-animation-appear {
    -webkit-transform: translateX(800px);
    transform: translateX(800px);
    z-index: 1;
}
.fav-animation-appear.fav-animation-appear-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: 1000ms ease;
}
.fav-animation-enter {
    opacity: 0;
    -webkit-transform: translateX(800px);
    transform: translateX(800px);
    z-index: 1;
}
.fav-animation-enter.fav-animation-enter-active {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: 1000ms ease;
}
/*  /city/:id  */
.city-animation-appear,
.city-animation-enter {
    opacity: 0;
    z-index: 1;
}
.city-animation-appear.city-animation-appear-active,
.city-animation-enter.city-animation-enter-active {
    opacity: 1;
    transition: opacity 1000ms linear;
}
